<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - BikeShare</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/vars.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/navbar.css" />
    @RenderSection("Styles", required: false)
</head>
<body>

@if (ViewData["HideNav"] == null || (bool)ViewData["HideNav"]! == false)
{
    <header>
        <nav class="navbar">
            <a class="nav-home" asp-area="" asp-controller="Home" asp-action="Index">BikeShare</a>
            
            @if (User.Identity!.IsAuthenticated)
            {
                <a class="nav-right nav-username" asp-area="" asp-controller="Account" asp-action="Index">@User.Identity.Name</a>
            }
            else
            {
                <button class="nav-right" onclick="window.location = '@Url.Action("Login", "Auth")'" >Log in</button>
            }
        </nav>
    </header>
}

<main role="main">
    @RenderBody()
</main>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>